/* Basic Styling */

/* Header */
h1 {
	font-family: 'Audiowide', sans-serif;
	font-size: 5em;
	text-align: center;
}
#sub-heading {
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	color: #ddd;
	border-bottom: 3px solid pink;
}