/* Basic Styling */

/* Header */
header {
	background: url(header-image.jpg);
	background-size: contain;
	padding: 0;
}
h1 {
	font-family: 'Audiowide', sans-serif;
	font-size: 5em;
	text-align: center;
	margin: 10px 0; 
	color: rgba(86, 130, 174, 0.70);
	text-shadow: 0 1px 0 #5682ae, 
               0 2px 0 #c9c9c9,
               0 3px 0 #4c82b8,
               0 4px 0 #b9b9b9,
               0 5px 0 #4073a5,
               0 6px 1px rgba(86, 130, 174, .1),
               0 0 5px rgba(86, 130, 174, .1),
               0 1px 3px rgba(86, 130, 174, .3),
               0 3px 5px rgba(86, 130, 174,.2),
               0 5px 10px rgba(86, 130, 174,.25),
               0 10px 10px rgba(86, 130, 174,.2),
               0 20px 20px rgba(86, 130, 174,.15);

}
#sub-heading {
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	color: rgb(86, 130, 174);
	padding-bottom: 10px;
}

/* Main Content*/
body {
	background: no-repeat url(background-image.jpg);
	background-size: cover;

}

.main {
	margin: auto;
	color: white;
}

#introduction {
	text-align: center;
}

h2, h3 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: bolder;
}
p {
	font-family: 'Rajdhani', sans-serif;
}
#about-me {
	display: inline-block;
	max-width: 33.333%;
	margin: 50px 10px 10px 50px;
	text-align: center;
}
#portfolio {
	display: inline-block;
	max-width: 33.333%;
	margin: 50px 10px 10px 10px;
	text-align: center;

}
#contact {
	display: inline-block;
	max-width: 33.333%;
	margin: 50px 10px 10px 10px;
	text-align: center;

}
/* About Me Page*/

p {
	font-family: 'Rajdhani', sans-serif;
	color: white;
	text-align: center;

}
#about-me-text {
	padding: 30px;
	margin: auto;
	text-align: center;
}
#unicorn {
	max-width: 200px;
	max-height: 400px;
	float: left;
	border-radius: 100px;
	margin: 10px;
}

h2 {
	color: white;
	text-align: center;
}

/* Arrow Links*/
.arrow {
	font-size: 2em;
	display: block;
	margin: auto;
}
a {
	text-decoration: none;
	text-shadow: 0 0 1em #ffb3ff;
	color: white;
}

/* Footer */

footer {
	font-family: 'Rajdhani', sans-serif;
	font-size: .5em;
	text-align: center;
	margin-top: 375px;
	color: white;
}

li {
	text-decoration: none;
	font-size: 1.5em;
	display: inline;
	margin: 40px;

}

/* Media Queries */
@media (max-width: 600px) {
	
	body {
		background: black;
	}
	
	h1{
		font-size: 3em;
	}

	h2, h3 {
		font-size: 16px;
		font-weight: bold;
		text-shadow: 0 0 0.3em #ffccff;
	}

	p {
		font-size: 12px;
	}

	#about-me {
		display: block;
		margin: auto;
	}
	
	#portfolio {
		display: block;
		margin: auto;
	}
	
	#contact {
		display: block;
		margin: auto;
	}

}

@media (max-width: 900px) {

	#about-me {
		display: block;
		margin: auto;
		padding-top: 20px;
	}
	
	#portfolio {
		display: block;
		margin: auto;
	}
	
	#contact {
		display: block;
		margin: auto;
	}

	footer {
		margin-top: 100px;
	}

}