@font-face {
	font-family: 'Tusj';
	src: url('FFF_Tusj.ttf');
}
@font-face {
	font-family: 'Economica';
	src: url('Economica-Regular-OTF.otf');
}
/* Header */
body {
	padding: 0;
	border: 0;
	margin: 0;
	background: lightgrey;
}
header {
	background: linear-gradient(rgba(0, 0, 0, .15) 70%, lightgrey 100%), url(heroimage.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	text-align: center;
	margin: 0;
}
h1 {
	font-family: 'Tusj', helvetica;
	color: white;
	font-size: 100px;
	padding: 250px 100px 400px 100px;
	margin: 0;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, .25);

}
/* Main Content */

p {
	color: white;
	font-family: 'Economica', arial;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
h3 {
	text-align: center;
	color: white;
	/*display: inline-block;
	padding: 0 100px;*/
	text-shadow: 0 5px 5px rgba(0, 0, 0, .25);
	font-size: 75px;
	font-family: 'Economica', helvetica;
}
/* Footer */
footer {
	color: white;
	text-align: center;
	font-family: 'Economica';
	margin-top: 50px;
	font-size: 12px;
}

img {
	display: block;
	max-height: 150px;
	max-width: 150px;
	margin: 0 30% 15px 30%;
}

.me {
	max-height: 150px;
	max-width: 150px;
	border: 5px solid white;
	border-radius: 100px;
	margin-bottom: 15px;
	margin-left: 30%;
}


.paragraph1, .paragraph2, .paragraph3 {
	display: none;
	text-align: center;
}

/* Media Queries */


@media (max-width: 600px) {
	header {
		margin: auto;
	}
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 30px;
	}
	p {
		font-size: 15px;
	}
	footer {
		font-size: 9px;
	}
}


